div.right {
    background-color: #F3FEFF;
    padding: 5px 5px 5px 5px;
    margin: 0px 200px 5px 680px;
    width: 200px;
}

div.main  {
    background-color: #F3FEFF;
    width: 500px;
    float:left;
    padding: 5px 10px 5px 10px;
    margin: 0px 5px 5px 150px;
}

textarea.grafiti {
    width:100%;
}