body {
	margin: 5em;
	padding: 1em;
	text-align: center;
	background-color:#ddddff;
	background-image:url('images/sun.gif');
	background-repeat: no-repeat;
}

div.bulut1 {
	background-image:url('images/bulut1.gif');
	height :170px;
	width : 290px;
	padding-top: 70px;
	padding-left: 20px;
}

td.leftframe {
	width  :43px;
	height :168px;
	background-image:url('images/lefty.png');
	background-repeat: repeat-y;
	border-width: 0px 0px 0px 0px;
}

td.topframe {
	width  :198px;
	height :45px;
	background-image:url('images/topy.png');
	background-repeat: repeat-x;
	border-width: 0px 0px 0px 0px;
}

td.rightframe {
	width  :43px;
	height :168px;
	background-image:url('images/righty.png');
	background-repeat: repeat-y;
	border-width: 0px 0px 0px 0px;
}

td.bottomframe {
	width  :198px;
	height :45px;
	background-image:url('images/bottomy.png');
	background-repeat: repeat-x;
	border-width: 0px 0px 0px 0px;
}

.tooldef {
	margin: 5px 0 5px 10px;
}

#browser,#imagedetail,#imagecomments,#imageframe {
	padding: 1em 1em 1em 1em;
}

#navbar {
	float: right;
	width: 20em;
}

#content {
	margin: 0 21em 0 0;
}

#content,#navbar {
}

.contentNoBorders {
	border-width: 0 0 0 0;
	background:transparent;
	background-repeat: no-repeat;
}
.titletext {
	font-weight: bold;
}

.text {
	text-align: left;
}

#avatar {
	float: left; 
	width: 77px; 
	height: 77px;
}

.comment {
	margin: 0 0px 0 80px;
	height: 200px;
	clear: right;
}