body {
	color: #4f6b72;
	background: #E6EAE9;
	text-align: center;
	text-align: center;
	background-color: #8855ff;
}

#main {
	margin: 0 auto;
	width: 800px;
	text-align: left;
}

table.main {
	border: 0;
	width: 80%;
}

a {
	color: #c75f3e;
}

#mytable {
	width: 700px;
	padding: 0;
	margin: 0;
}

.buttonpan {
	width:300px;
	text-align:right;
	margin-left:auto;
	margin-right:auto;
}